body{ 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar .cont{
    
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu li{
    
    display: inline-block;
}

.navbar-menu li a{
    display: inline-block;
    color: black;
    opacity: 0.5;
    text-decoration: none;
    padding-left: 150px;
    transition: all .1s ease-in-out;
    font-size: 20px;
    font-weight: bold;
}
.navbar-menu li a:hover{
    opacity: 1;

}

.navbar-logo{
    
    font-weight: 300;
    font-size: 40px;
    text-decoration: none;
    color: black;
    padding-left: 130px;
    transition: all .2s ease-in-out;
}

.navbar-logo:hover{
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
   
}

h1{
    text-align: center;
    padding-top: 30px;
}
.img1{
    
    width: 100%;
    display: flex;
    align-items: center;
}
.left-col{
    flex:1;
    text-align: center;
}

.left-col .lc
{
    font-weight: bold;
    font-size: 27px;
}

.left-col img
{
    width: 500px;
    padding: 30px 100px;
}
.abil{
    word-spacing: 30px;
    font-size: 12px;
}

.right-col{
    flex:2;
}

.mainlc{
    font-size: 18px;
}
@media (max-width: 768px)
{
    .navbar {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        width: 30%;
        height: 70px;
        box-shadow: none;
        padding: 0;
    }

    .navbar-menu li a {
        padding: 40px;
        font-size: 16px;
    }
    
    .navbar-menu {
        display: flex; 
    }
    .cont .navbar-logo{
        font-size: 25px;
        white-space: nowrap;
        padding-left: 100px;
    }
    .right-col {
        flex-direction: column; 
        align-items: center;
        padding: 25px;
    }
    
    .img1 {
        flex-direction: column; /
    }
    
    .left-col {
        text-align: center;

    }
    
    .left-col img {
        width: 100%; 
        padding: 40px 0; 
    }
    
}

@media screen and (max-width: 430px) {
    .cont .navbar-logo{
        padding-left: 50px;
        font-size: 20px;
    }
    .navbar-menu{
        padding-right: 30px;
        padding-left: 30px;
    }
    .navbar-menu li a{
        padding: 8px;
        font-size: 12px;
    }

    .right-col .lc-text p{
        font-size: 17px;
    }
    .right-col .lc-text .xarak p{
        font-size: 15px;
    }
    .right-col .lc-text .lclvl1{
        padding: 10px 20px;
    }

    .right-col .mainlc{
        font-size: 14px;
    }
}


@media screen and (max-width: 400px) {
   
    .cont .navbar-logo{
        padding-left: 40px;
        font-size: 20px;
    }
    .navbar-menu{
        padding-right: 10px;
    }
    .navbar-menu li a{
        padding: 5px;
        font-size: 10px;
    }

    .right-col .lc-text p{
        font-size: 17px;
    }
    .right-col .lc-text .xarak p{
        font-size: 15px;
    }
    .right-col .lc-text .lclvl1{
        padding: 10px 20px;
    }

    .right-col .mainlc{
        font-size: 14px;
    }
    
}



